<h1>Mutual Assistance Social NET!</h1>
<p>I hope this social net will <strong>help</strong> many people around the world</p>
<p>You can write this what you need and what you can and change contacts with other people</p>
<br />
<p>Creator Alexandr Piskunov aka Reachy Carol</p>
<p>Thanks to Evgenija for her excellent councils:)</p>
<p>Thanks music bands and musicians: Manowar, Korn, Kittie, Skrillex, Lyapis Trubetskoy, Noize MC, Shot & Tihij, 
Postskriptum﻿ Vlg, Melnitsa and... Mozart)) which I have heared when develop this social net</p>
<p>and last but not least</p>
<p>Thanks for my parents</p>
<br />
<p>Russia, Samara City</p>
