<li>
  <p>
    Short description: <%= can.short_description %>
  </p>

  <p>  
    Long description: <%= can.long_description %>
  </p>
  <% if current_user?(can.user) %>
    <%= link_to "edit", edit_can_path(can) %> |
    <%= link_to "delete", can, method: :delete,
                                     data: { confirm: "You sure?" } %>
  <% end %>
</li>