<footer class="footer">
  <small>
    <%= t(:mutual_assistance_social_NET) %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:About),   static_pages_about_path %></li>
      <li><%= link_to t(:Contact), static_pages_contact_path %></li>
    </ul>
  </nav>
</footer>